<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="chart-container">
    <h2>Gastos por Categoría</h2>
    <canvas id="gastosPorCategoria"></canvas>
    
    <h2>Gastos por Mes</h2>
    <canvas id="gastosPorMes"></canvas>

    <h2>Comparación de Ingresos y Gastos</h2>
    <canvas id="comparacionIngresosGastos"></canvas>

    <h2>Resumen Mensual</h2>
    <div id="resumenMensual">
      <!-- Aquí puedes mostrar un resumen en formato tabla -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resumen Mensual</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Gastos Totales: {{ totalGastos | currency }}</p>
          <p>Ingresos Totales: {{ totalIngresos | currency }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>