ion-header {
    background-color: #4a90e2; /* Color primario m치s atractivo */
    color: white;
  }
  
  .form-container {
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #f9f9f9; /* Fondo claro para el formulario */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    margin: 15px 0; /* Mayor separaci칩n entre los elementos del formulario */
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333; /* Color del texto */
  }
  
  .fuente {
    font-weight: bold;
    color: #4a90e2; /* Color para destacar la fuente */
  }
  
  .fecha {
    font-size: 0.9em;
    color: #777; /* Color m치s suave para la fecha */
  }
  
  .ingreso-item {
    background-color: #fff; /* Fondo blanco para cada elemento de ingreso */
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  }
  
  ion-button {
    margin-left: 5px; /* Separaci칩n entre botones */
  }
  