<ion-app>
  <!-- Sidebar menu -->
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Gastos personales</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/gastos" routerDirection="root" (click)="cerrarMenu()"><ion-icon name="pricetag-outline" style="padding-right: 10px;"></ion-icon>  Gastos</ion-item>
        <ion-item routerLink="/ingresos" routerDirection="root" (click)="cerrarMenu()"><ion-icon name="cash-outline" style="padding-right: 10px;"></ion-icon>Ingresos</ion-item>
        <ion-item routerLink="/presupuestos" routerDirection="root" (click)="cerrarMenu()"><ion-icon name="pricetags-outline" style="padding-right: 10px;"></ion-icon>Presupuestos</ion-item>
        <ion-item routerLink="/informes" routerDirection="root" (click)="cerrarMenu()"><ion-icon name="bar-chart-outline" style="padding-right: 10px;"></ion-icon>Informes</ion-item>
        <ion-item routerLink="/configuracion" routerDirection="root" (click)="cerrarMenu()"> <ion-icon name="settings-outline" style="padding-right: 10px;"></ion-icon>Configuración</ion-item>
        <ion-item routerLink="/acerca-de" routerDirection="root" (click)="cerrarMenu()"><ion-icon name="alert-circle-outline" style="padding-right: 10px;"></ion-icon>Acerca de</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main content -->
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>

