<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Presupuestos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="form-container">
    <ion-item style="margin: 5px;">
      <ion-label position="stacked">Categoría del Presupuesto</ion-label>
      <ion-select [(ngModel)]="categoria" placeholder="Selecciona una categoría">
        <ion-select-option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</ion-select-option>
      </ion-select>
      <span style="font-size: 12px; color: gray; padding-bottom: 5px;">
        Si no has encontrado la categoría, <strong (click)="irACategorias()" style="cursor: pointer;">añádela aquí</strong>.
      </span>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Monto Asignado</ion-label>
      <ion-input type="number" [(ngModel)]="monto" placeholder="Ej: 500"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="agregarPresupuesto()" color="secondary">Agregar Presupuesto</ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let presupuesto of presupuestos; let i = index" class="presupuesto-item">
      <ion-label>
        <h2>{{ presupuesto.categoria }} : {{ presupuesto.monto - presupuesto.totalGastado }}</h2>
        <p>Presupuestado: {{ presupuesto.monto }}</p>
        <p>Total Gastado: {{ presupuesto.totalGastado }}</p>
      </ion-label>
  
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event, presupuesto)">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
  <!-- Mover el popover fuera del ngFor -->
  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item button (click)="editarPresupuesto(selectedPresupuesto)">
            <ion-icon slot="start" name="create"></ion-icon>
            Editar
          </ion-item>
          <ion-item button (click)="eliminarPresupuesto(selectedPresupuesto)">
            <ion-icon slot="start" name="trash"></ion-icon>
            Eliminar
          </ion-item>
          <ion-item button (click)="isOpen = false">
            <ion-icon slot="start" name="close"></ion-icon>
            Cancelar
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  
<!--
  <ion-list>
    <ion-item *ngFor="let presupuesto of presupuestos" [ngClass]="{'superado': presupuesto.superado}" class="presupuesto-item">
      <ion-label>
        <h2>{{ presupuesto.categoria }}: {{ presupuesto.monto - presupuesto.totalGastado | currency }}</h2>
        <p>Presupuestado: {{ presupuesto.monto | currency }}</p>
        <p>Total Gastado: {{ presupuesto.totalGastado | currency }}</p>
        <p *ngIf="presupuesto.superado" class="alert">¡Presupuesto Superado!</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button (click)="presentActionSheet(presupuesto)">...</ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-item>
    
    </ion-list>  
-->
</ion-content>