ion-header {
    background-color: #4a90e2; /* Color primario */
    color: white;
  }
  
  .settings-container {
    margin: 20px;
  }
  
  ion-card {
    margin-bottom: 20px; /* Espaciado entre tarjetas */
  }
  
  h3 {
    margin: 10px 0;
  }
  