<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="settings-container">
    
    <ion-card>
      <ion-card-content>
        <ion-button expand="full" (click)="agregarCategoriaGasto()">Categorías</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Notificaciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Alertas de Gastos <ion-icon name="notifications-outline"></ion-icon></ion-label>
          <ion-toggle [(ngModel)]="alertasGastos"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Recordatorios de Presupuesto <ion-icon name="notifications-outline"></ion-icon></ion-label>
          <ion-toggle [(ngModel)]="recordatoriosPresupuesto"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Idioma y Moneda</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Idioma <ion-icon name="language-outline"></ion-icon></ion-label>
          <ion-select [(ngModel)]="idiomaSeleccionado">
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="en">Inglés</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Moneda <ion-icon name="cash-outline"></ion-icon></ion-label>
          <ion-select [(ngModel)]="monedaSeleccionada">
            <ion-select-option value="usd">USD</ion-select-option>
            <ion-select-option value="eur">EUR</ion-select-option>
            <ion-select-option value="mxn">MXN</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>