ion-header {
    background-color: #4a90e2; /* Color primario */
    color: white;
  }
  
  .security-container {
    margin: 20px;
  }
  
  ion-card {
    margin-bottom: 20px; /* Espaciado entre tarjetas */
  }
  