<ion-content padding>
  <div class="security-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="correoElectronico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="iniciarSesion()">Iniciar Sesión</ion-button>
      </ion-card-content>
      <ion-item lines="none" class="register-link">
        <ion-label class="register-text" (click)="abrirRegistro()">¿No tienes una cuenta? Regístrate aquí</ion-label>
      </ion-item>
    </ion-card>

    <!-- Botón para abrir el modal de registro -->
  </div>
</ion-content>
