<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Categorías</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-button expand="full" (click)="setOpen(true)">Añadir Categoría</ion-button>
    <ion-item *ngFor="let categoria of categorias">
      <ion-label>{{ categoria }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editarCategoria(categoria)">Editar</ion-button>
        <ion-button color="danger" (click)="borrarCategoria(categoria)">Borrar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Alert para crear categoría -->
<ion-alert
  [isOpen]="isAlertOpen"
  header="Nueva Categoría"
  subHeader="Introduce el nombre de la categoría"
  [inputs]="alertInputs"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
</ion-content>
