<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>meAhorro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" scroll-y="true" force-overscroll="false" class="ion-padding">
  <ion-grid>
    <ion-row>
      <!-- Card de Ingresos -->
      <ion-col size="12">
        <ion-card class="financial-card ingresos-card" routerLink="/ingresos">
          <ion-card-header>
            <ion-card-title>Total de Ingresos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ingresos">{{ totalIngresos | currency }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card de Gastos -->
      <ion-col size="12">
        <ion-card class="financial-card gastos-card" routerLink="/gastos">
          <ion-card-header>
            <ion-card-title>Total de Gastos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="gastos">{{ totalGastos | currency }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card de Saldo -->
      <ion-col size="12">
        <ion-card class="financial-card saldo-card">
          <ion-card-header>
            <ion-card-title>Saldo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="saldo">{{ saldo | currency }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
